* text=auto !eol
/COPYING -text
/apertium-en-ga.en-ga.dix -text
/apertium-en-ga.en-ga.t1x -text
/apertium-en-ga.en-ga.t2x -text
/apertium-en-ga.en-ga.t3x -text
/apertium-en-ga.ga-en.t1x -text
/apertium-en-ga.ga-en.t2x -text
/apertium-en-ga.ga-en.t3x -text
/apertium-en-ga.ga.dix -text
dev/addin -text
dev/addlen.pl -text
dev/addpn.pl -text
dev/adj.dix -text
dev/adv.dix -text
dev/iris-oifiguil -text
dev/nomination.en -text
dev/nomination.ga -text
dev/nomination.url -text
dev/pr.dix -text
dev/public-domain-acts -text
dev/public-domain-acts-raw -text
dev/verb-bits -text
/gael-dis.rle -text
